.button-primary {
    color: $color-white;
    text-decoration: none;
    outline: 0;
    border: 1px solid $color-accent;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1.6rem;
    padding:1rem 8rem;
    background: none;
    transition: all 0.4s;
    font-weight: 200;
    opacity: 1;

    &:hover {
        opacity: 0.6;
    }
}

.button-smaller {
    padding:1rem 4rem;
}

.button-link {
    color: $color-accent;
    text-decoration: none;
    padding: 1rem 3rem;

    cursor: pointer;
    display: inline-block;
    font-size: 1.3rem;
    line-height: 1.7rem;
    font-weight: 400;
    opacity: 1;

    &:hover {
        opacity: 0.8;
    }
}

