.button-primary {
    color: $color-white;
    text-decoration: none;
    outline: 0;
    border: 1px solid $color-accent;
    border-radius: 3px;
    padding: 1rem 1.5rem;
    cursor: pointer;
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-weight: 600;
    padding:1rem 8rem;
    margin: 1rem 0;
    background: none;
    font-weight: 200;
}

.button-smaller {
    padding:1rem 4rem;
}
