
// Colors
$color-primary: #707070;
$color-secondary: #B2B2B2;

$color-accent: #89754D;

$color-black: #000000;
$color-white: #EAEAEA;

// Fonts
$main-font: 'Nunito Sans', sans-serif;

// Notification Colors

$notification-error: rgba(135, 47, 47, 0.97);
$notification-success: rgba(68, 120, 58, 0.97);